@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OpenID Connect Tester</h1>
    <p class="lead">This is a test application for OpenID Connect use</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>OpenID Connect</h2>
        <p>
            OpenID Connect 1.0 is a simple identity layer on top of the OAuth 2.0 protocol. It allows Clients to verify the identity of the End-User based on the authentication performed by an Authorization Server, as well as to obtain basic profile information about the End-User in an interoperable and REST-like manner.
        </p>
        <p><a class="btn btn-default" href="http://openid.net/connect/">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>Protected Page</h2>
        <p>Click below to go to a sub page that requires authentication</p>
        <p><a class="btn btn-default" href="/home/protected">Go to /protected</a></p>
    </div>
</div>